<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fssoft.freight.dao.persistence.dao.AreaMapper">
  <resultMap id="BaseResultMap" type="com.fssoft.freight.dao.persistence.entity.Area">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="orders" jdbcType="INTEGER" property="orders" />
    <result column="grade" jdbcType="INTEGER" property="grade" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="tree_path" jdbcType="VARCHAR" property="treePath" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="full_name" jdbcType="LONGVARCHAR" property="fullName" />
  </resultMap>

    <select id="queryAreaList" resultType="com.fssoft.freight.api.result.modules.area.AreaResult">
        SELECT
            da.id as id, da.orders as orders, da.full_name as fullName, da.grade as grade, da.name as name, da.tree_path as treePath, da.parent_id as parentId, da.create_time as createTime, da.update_time as updateTime
        FROM dz_area as da
        WHERE 1=1
            <if test="fullName != null and fullName != ''">
                AND da.full_name like concat('%', #{fullName}, '%')
            </if>
            <if test="name != null and name != ''">
                AND da.name like concat('%', #{name}, '%')
            </if>
            <if test="updateTimeRangeStart != null and updateTimeRangeStart != ''">
                AND da.update_time &gt;= #{updateTimeRangeStart}
            </if>
            <if test="updateTimeRangeEnd != null and updateTimeRangeEnd != ''">
                AND  da.update_time &lt;=  #{updateTimeRangeEnd}
            </if>
            AND da.is_delete = 0
        <if test="orderSql != null and orderSql != ''">
            ORDER BY da.${orderSql}
        </if>
    </select>

    <select id="deleteAreaListByIdList" >
        update dz_area set is_delete = 1 where id in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

</mapper>