<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fssoft.freight.dao.persistence.dao.CooperativeCompanyMapper">
 <select id="queryCooperativeCompanyMapperList" resultType="com.fssoft.freight.api.result.modules.cooperativeCompany.CooperativeCompanyResult">
        SELECT
        	cp1.`id` as id ,cp1.`company_name` as companyName,cp1.`taxpayer_code` as taxpayerCode,
        	cp1.`address` as address ,cp1.`phone` as phone ,cp1.`bank_name` as bankName,
        	cp1.`account` as account,cp1.`user_id` as userId ,cp1.`is_default` as isDefault
        FROM `dz_cooperative_company` as cp1
        where 
            cp1.`user_id`=#{userId}
         <if test="isDefault == 1">
             AND cp1.is_default = 1
         </if>
         <if test="orderSql != null and orderSql != ''">
           ORDER BY cp1.${orderSql}
        </if>
   </select>
 <select id="getCompany" resultType="com.fssoft.freight.api.result.modules.cooperativeCompany.CooperativeCompanyResult">
        SELECT
        	cp1.`id` as id ,cp1.`company_name` as companyName,cp1.`taxpayer_code` as taxpayerCode,
        	cp1.`address` as address ,cp1.`phone` as phone ,cp1.`bank_name` as bankName,
        	cp1.`account` as account,cp1.`user_id` as userId,cp1.`is_default` as isDefault
        FROM `dz_cooperative_company` as cp1,dz_user_shipper as dus,dz_user as du
        where 
            cp1.`user_id`=#{userId} and dus.user_id=#{userId} and du.id=#{userId} and du.status=1 and du.is_publish=1
              and cp1.is_default = 1   and du.is_delete=0
   </select>
</mapper> 