<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fssoft.freight.dao.persistence.dao.FeedbackMapper">
  <resultMap id="BaseResultMap" type="com.fssoft.freight.dao.persistence.entity.Feedback">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="is_read" jdbcType="TINYINT" property="isRead" />
    <result column="is_publish" jdbcType="TINYINT" property="isPublish" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

    <select id="queryFeedbackList" resultType="com.fssoft.freight.api.result.modules.feedback.FeedbackResult">
        SELECT
            df.id AS id,
            du.phone,
            df.content AS content,
            df.is_read AS isRead,
            df.update_time AS updateTime
        FROM
          dz_feedback AS df,dz_user du
        WHERE
          df.user_id = du.id
        <if test="phone != null and phone != ''">
            AND du.phone like concat('%', #{phone}, '%')
        </if>
        <if test="isRead != null">
            AND df.is_read = #{isRead}
        </if>
        <if test="updateTimeRangeStart != null and updateTimeRangeStart != ''">
                AND df.update_time &gt;= #{updateTimeRangeStart}
            </if>
            <if test="updateTimeRangeEnd != null and updateTimeRangeEnd != ''">
                AND  df.update_time &lt;=  #{updateTimeRangeEnd}
            </if>
            AND df.is_delete = 0 AND df.is_publish = 1 ORDER BY df.update_time desc

    </select>

    <select id="deleteFeedbackListByIdList" >
        update dz_feedback set is_delete = 1 where id in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
    

</mapper>