<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fssoft.freight.dao.persistence.dao.OrderDevInfoMapper">
  <resultMap id="BaseResultMap" type="com.fssoft.freight.dao.persistence.entity.OrderDevInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="app_id" jdbcType="INTEGER" property="appId" />
    <result column="channel_no" jdbcType="VARCHAR" property="channelNo" />
    <result column="app_name" jdbcType="VARCHAR" property="appName" />
    <result column="pub_key" jdbcType="VARCHAR" property="pubKey" />
    <result column="parent_company_code" jdbcType="VARCHAR" property="parentCompanyCode" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="expire_date" jdbcType="TIMESTAMP" property="expireDate" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="deletion_state_code" jdbcType="INTEGER" property="deletionStateCode" />
  </resultMap>

    <select id="findByAppId" resultMap="BaseResultMap">
      select id,app_id,channel_no,app_name,pub_key,parent_company_code,create_date,expire_date,state,deletion_state_code
      from dz_order_devinfo where app_id=#{appId}
    </select>

</mapper>