<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fssoft.freight.dao.persistence.dao.UserDriverMapper">
  <resultMap id="BaseResultMap" type="com.fssoft.freight.dao.persistence.entity.UserDriver">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="photo" jdbcType="VARCHAR" property="photo" />
    <result column="id_card" jdbcType="VARCHAR" property="idCard" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="id_card_front" jdbcType="VARCHAR" property="idCardFront" />
    <result column="id_card_back" jdbcType="VARCHAR" property="idCardBack" />
    <result column="driver_licence" jdbcType="VARCHAR" property="driverLicence" />
    <result column="level" jdbcType="TINYINT" property="level" />
    <result column="balance" jdbcType="DECIMAL" property="balance" />
    <result column="is_publish" jdbcType="TINYINT" property="isPublish" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="bank_name" jdbcType="VARCHAR" property="bankName" />
    <result column="bank_acct" jdbcType="VARCHAR" property="bankAcct" />
  </resultMap>

    <select id="queryUserDriverList" resultType="com.fssoft.freight.api.result.modules.userDriver.UserDriverListResult">
        SELECT
             dud.user_id as userId, dud.username as username, dud.type as type, du.phone,
        du.is_publish as isPublish, du.create_time, du.status
        FROM dz_user_driver as dud
        LEFT JOIN dz_user as du  on dud.user_id = du.id
        WHERE 1=1
            <if test="phone != null and phone != ''">
                AND du.phone like concat('%', #{phone}, '%')
            </if>
            <if test="type != null and type != '' || type == 0">
                AND dud.type = #{type}
            </if>
            <if test="status != null and status != 0">
                AND du.status = #{status}
            </if>
            <if test="status != null and status == 0">
                AND du.status in(0,2,3)
            </if>
            <if test="isPublish != null and isPublish != '' || isPublish == 0">
                AND du.is_publish = #{isPublish}
            </if>
            AND dud.is_delete = 0 AND du.is_delete = 0
        <if test="orderSql != null and orderSql != ''">
            ORDER BY du.${orderSql}
        </if>
        <if test="orderSql == null or orderSql == ''">
            ORDER BY du.create_time DESC
        </if>
    </select>

    <select id="findExamineInfo" resultType="com.fssoft.freight.api.result.modules.user.UserExamineInfoResult">
        SELECT
        dud.user_id as id,
        dud.username,
        dud.id_card as idCard,
        dud.id_card_front as idCardFront,
        dud.id_card_back as idCardBack,
        dud.driver_licence as driverLicence,
        dud.type,
        dud.bank_name AS bankName,
        dud.bank_acct AS bankAcct,
        dud.qualification,
        dud.qualification_photo AS qualificationPhoto
        FROM dz_user_driver as dud
        WHERE dud.user_id = #{userId}
    </select>


    <update id="updateUserToBoss">
        update  dz_user_driver set type = 1,update_time = NOW() where user_id = #{userId}
    </update>


    <select id="findUserInfoByUserId" resultMap="userInfo">
        SELECT
        dud.username, dud.id_card, dud.id_card_front, dud.id_card_back, dud.driver_licence, dud.level, du.phone, dud.type,
        dub.card_no, dub.card_create_bank,dud.bank_name,dud.bank_acct,dud.qualification,dud.qualification_photo
        FROM dz_user_driver as dud
        LEFT JOIN dz_user as du  on dud.user_id = du.id
        LEFT JOIN dz_user_bankcard as dub  on dud.user_id = dub.user_id AND dub.is_delete = 0
        WHERE 1=1
        AND dud.is_delete = 0 AND du.is_delete = 0 AND dud.user_id = #{userId}
    </select>

    <resultMap id="userInfo" type="com.fssoft.freight.api.result.modules.userDriver.UserDriverInfoResult">
        <result column="username"  property="username" />
        <result column="id_card"  property="idCard" />
        <result column="id_card_front"  property="idCardFront" />
        <result column="id_card_back"  property="idCardBack" />
        <result column="driver_licence"  property="driverLicence" />
        <result column="level"  property="level" />
        <result column="phone"  property="phone" />
        <result column="type"  property="type" />
        <result column="bank_name"  property="bankName" />
        <result column="bank_acct"  property="bankAcct" />
        <result column="qualification"  property="qualification" />
        <result column="qualification_photo"  property="qualificationPhoto" />
        
        <collection property="bankResultList" ofType="com.fssoft.freight.api.result.modules.userDriver.UserBankResult">
            <result column="card_no"  property="cardNo" />
            <result column="card_create_bank"  property="cardName" />
        </collection>
    </resultMap>




    <select id="findBossByUserId" resultType="java.lang.Integer">
        SELECT
        dud.driver_boss_id
        FROM dz_user_driver_re_driver as dud
        WHERE dud.driver_id = #{userId} and dud.is_delete = 0
    </select>

	<select id="findUserDriverNameListByIds" resultType="java.lang.String">
	 SELECT
            a.username
        FROM
            dz_user_driver a
        WHERE
             a.is_publish = 1 AND a.is_delete = 0
            AND a.user_id in
            <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
	</select>

    <select id="deleteUserDriverListByIdList" >
        update dz_user_driver set is_delete = 1 where id in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="findUserDriverList" resultType="com.fssoft.freight.api.result.api.result.userGroup.ApiUserDriverListResult">
        SELECT
            a.username,
            a.user_id as userId,
            a.photo,
            b.phone
        FROM
            dz_user_driver a,
            dz_user b
        WHERE
            a.user_id = b.id
            AND a.is_publish = 1 AND a.is_delete = 0
            AND b.is_publish = 1 AND b.is_delete = 0
            AND a.user_id in(SELECT friend_id FROM dz_user_friends WHERE user_id = #{userId}  AND is_publish = 1 AND is_delete = 0)
    </select>
    
       <select id="findUserDriverListByPhone" resultType="com.fssoft.freight.api.result.api.result.userGroup.ApiUserDriverListResult">
        SELECT
            a.username,
            a.user_id as userId,
            a.photo,
            b.phone
        FROM
            dz_user_driver a,
            dz_user b
        WHERE
            a.user_id = b.id
            AND a.is_publish = 1 AND a.is_delete = 0
            AND b.is_publish = 1 AND b.is_delete = 0
            AND b.phone=#{phone} and b.type=1
    </select>

    <select id="findIdByUserId" resultType="com.fssoft.freight.dao.persistence.entity.UserDriver" resultMap="BaseResultMap">
        SELECT * from dz_user_driver WHERE user_id = #{userId}  AND is_publish = 1 AND is_delete = 0
    </select>
    
    <update id="addOneCancleCount">
        UPDATE dz_user_driver SET cancle_count = cancle_count + 1,update_time = now() WHERE user_id = #{userId}
    </update>
    
    <update id="updateDriverPhoto">
        UPDATE dz_user_driver SET photo = #{photo},update_time = NOW() WHERE user_id = #{userId}
    </update>
    
    <select id="findDriverTypeByUserId" resultType="java.lang.Integer">
        SELECT type FROM dz_user_driver WHERE user_id = #{userId}
    </select>
    <select id="findDriverIsBund" resultType="java.lang.Integer">
        SELECT count(id) FROM dz_user_bund WHERE user_id = #{userId}
    </select>


</mapper>