<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.cargo.upload_car.mapper.FindCar">

<!--	<resultMap id="UserEntityMap" type="cn.tedu.store.entity.User">-->
<!--		<result column="modified_time" property="modifiedTime"/>-->
<!--	</resultMap>-->



<!--	public Car findCars();-->
	<select id="findTop200" resultType="com.cargo.upload_car.entity.CarConfig">
		SELECT
			top 200 *
		FROM
			InfoMasterTable_鞍山
	</select>


	<select id="ShakehandSQL" resultType="com.cargo.upload_car.entity.HandSQL">
		SELECT
			top 200 *
		FROM
			hand
	</select>


</mapper>






