<!DOCTYPE html>
<html lang="ZH_ch">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
    <title>数据</title>
</head>

<body>
<div id="app">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">车辆数据管理</h3>
        </div>
    </div>
    <div class="panel-body form-inline">
        <label>
            出发地
            <input type="text" v-model="tel" @keyup="getFullname" placeholder="请输入出发地" class="input-prepend">
        </label>
    </div>
    <div class="panel panel-primary">
        <table class="table table-bordered table-nover table-striped">
            <tr>
                <th>Id</th>
                <th>car_id</th>
                <th>出发地</th>
                <th>目的地</th>
                <th>出任务</th>
                <th>车型</th>
                <th>车长</th>
                <th>用车类型</th>
                <th>货物名称</th>
                <th>装车时间</th>
                <th>装货方式</th>
                <th>货物运费</th>
                <th>同城可见</th>
                <th>货主手机号</th>
                <th>编辑</th>
            </tr>
            <tr v-for="(item,index) in list" :key="item.Id">
                <th>{{index+1}}</th>
                <th>{{item.cid}}</th>
                <th>{{item.start_address}}</th>
                <th>{{item.end_address}}</th>
                <th>{{item.is_use_enum | renwuFilter}}</th>
                <th>{{item.car_model}}</th>
                <th>{{item.car_length}}</th>
                <th>{{item.car_type}}</th>
                <th>{{item.goods_name}}</th>
                <th>{{item.starttime}}</th>
                <th>{{item.load_of}}</th>
                <th>{{item.task_price}}</th>
                <th>{{item.is_visible}}</th>
                <th>{{item.vip_phone}}</th>
                <td><a @click.prevent="delet(index,item.cid)" href="">删除</a></td>
            </tr>
        </table>
    </div>
</div>
<script src="node_modules/vue/dist/vue.js"></script>
<script src="node_modules/moment/src/moment.js"></script>
<script src="node_modules/axios/dist/axios.js"></script>
<script>
    var cars = ''
    Vue.prototype.$ajax = axios;
    Vue.filter("renwuFilter", (input) => {
        if (input === 1) {
            return "任务中"
        } else if (input === "0") {
            return "待接任务"
        }
    })
    Vue.filter("dateFilter", (input, format = "YYYY-MM-DD HH:mm:ss") => {
            return moment(input).format(format)
        }
    )
    let vm = new Vue({
        el: "#app",
        data: {
            list: "",
            testUrl: "http://localhost:8098/",
            tel: '',
            findList: '',
        },
        created: function () {
            var that = this
            this.$ajax.get(that.testUrl + "car/upload")
                .then(function (res) {
                    that.list = res.data
                    cars = res.data;
                })
        },
        methods: {
            findTopAll: function () {
                var that = this
                this.$ajax.get(that.testUrl + "car/upload")
                    .then(function (res) {
                        that.list = res.data
                    })
            },
            delet: function (id, num) {
                var that = this
                that.list.splice(id, 1)
                this.$ajax.get(that.testUrl + "car/delete?cid=" + num)
                    .then(function (res) {
                    })
            },
            getFullname: function () {
                var that = this;
                if (that.tel === '') {
                    that.list = cars
                } else {
                    // start_address
                    that.list = [];
                    for (var i = 0; i < cars.length; i++) {
                        if (cars[i].start_address === that.tel) that.list.push(cars[i])
                    }
                }


            }
        }
    })
</script>
</body>

</html>